.logout-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 14px; 
  }
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Optional: Adds space between buttons */
    margin: 20px 0; /* Optional: Adds vertical spacing */
  }
  
  .button-container button {
    margin: 0 5px; /* Optional: Adds horizontal spacing between buttons */
  }
